.about{
    width: 100%;
    padding: 5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    height: 100%;
}
.left{
    width: 100%;
    max-width: 400px;
    margin: 1.2rem 0;
    }
.left p {
    margin: 1.2rem auto;
    opacity: 0.5;
}

.right {
    max-width: 800px;
    }
    .right .img-container{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        position: relative;
        align-items: center;

    }
.right .img{
    max-width: 90%;
    border-radius: 10px;
}
.right .top{
    grid-column: 1 / span 8;
    grid-row: 1;
    padding-top: 20%;
    z-index: 0;

}
.right .bottom{
    grid-column: 5 /-1;
    grid-row: 1;
    z-index: -1;

}