@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lato', sans-serif;;
}

h1, h4, a, ul, li, p {
    text-decoration: none;
    list-style: none;
    color: #fff;
    
}
h1{
    font-size: 2rem;
    font-weight: 600;
}
p, h4 {
    font-size: 1.2rem;
  
}

body{
    background: #000;  
}
.btn {
    padding: 12px 32px;
    text-transform: uppercase;
    background-color: yellow;
    font-size: 1.5rem;
    color:black;
    cursor: pointer;
    font-weight: 600;
    border: 2px solid #787777;
}

.btn:hover{
    background-color: #000;
    color: yellow;
    transition: 0.3s;
    border: 2px solid #787777;
    outline: none;
}

.btn-light{
    color: #fff;
    background: transparent;   

}

.btn-light:hover{
    background: #787777;
    transition:0.3s;
    color: #000;
}
